body{
    color:white;
    background-color:rgb(32, 155, 155);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

#container {position:relative; display:block; 
      min-height:100%; width: 100%; }

#leftmenu {position:absolute; display:block; top: 80px; left:0;  
        width:100px; }
#content {position:absolute; display:block; top:20px; left:110px;}

table{font-family: arial, sans-serif;
    border-collapse:collapse;
    width:80%;
    margin:0 auto;}
    th{padding:18px;}
    td{padding:12px;}
    th,td{border:solid 1px #e6e6e6;}
    tr{background-color:rgb(110, 110, 110);}
    tr.even{background-color:rgb(124, 121, 121);}
    #heading{background-color:rgb(13, 76, 105);}



    